* @minvws/nl-rdo-mgo-codeowners
/regression-tests/ @minvws/rdo-robotframework-codeowners
/integration/submodules @minvws/rdo-robotframework-codeowners
# Last match takes precedence
.github/CODEOWNERS @minvws/irealisatie-operations
