APP_NAME="MinVWS MGO VAD Clients Manager"
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_TIMEZONE=Europe/Amsterdam
APP_PORT=8008
APP_URL=http://localhost:8008
APP_SERVICE=app

APP_LOCALE=nl
APP_FALLBACK_LOCALE=en

LOG_CHANNEL=stdout
LOG_STACK=single,stderr
LOG_LEVEL=debug

DB_CONNECTION=pgsql
DB_HOST=cbp-pgsql
DB_PORT=5432
DB_DATABASE=cbp_db
DB_USERNAME=postgres
DB_PASSWORD=secret

MAIL_MAILER=smtp
MAIL_HOST=cbp-mailpit
MAIL_PORT=1025
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null
MAIL_FROM_ADDRESS="cbp@example.com"
MAIL_FROM_NAME="${APP_NAME}"

# CSV string containing URLS of webhooks to be notified when a VAD Client is created, updated or deleted
VAD_NOTIFIABLES="https://max:8006/api/v1/clients-updated"
VAD_NOTIFY_VERIFY_SSL=false
